h1 {
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.bloki {
    display: flex;
    justify-content: space-around;
    text-shadow: 1px 1px 2px black;
    
}

.blok-a , .blok-b {
    border: 2px solid #B0578D;
    border-radius: 10px;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
    word-spacing: 5px;
    width: 40%;
}

.login {
        position: absolute;
        left: 16px;
        top: 16px;
}